USE [master]
GO
/****** Object:  Database [QLPhongGym]    Script Date: 4/16/2026 10:06:26 PM ******/
CREATE DATABASE [QLPhongGym]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDETAI_SV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QLDETAI_SV.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDETAI_SV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QLDETAI_SV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPhongGym].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPhongGym]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HLV]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLV](
	[MaHLV] [int] IDENTITY(1,1) NOT NULL,
	[TenHLV] [nvarchar](100) NOT NULL,
	[ChuyenMon] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
 CONSTRAINT [PK_HLV] PRIMARY KEY CLUSTERED 
(
	[MaHLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[LuongCoBan] [decimal](18, 2) NULL,
	[NgayVaoLam] [date] NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMDANH]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDANH](
	[MaDD] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[MaHLV] [int] NULL,
	[ThoiGianVao] [datetime] NULL,
	[ThoiGianRa] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DiemDanh]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






--========================================--
--========== TRUY VẤN ĐIỂM DANH ===========--
--========================================--
CREATE VIEW [dbo].[View_DiemDanh] AS
SELECT 
    'DD' + FORMAT(DD.MaDD, '00') AS [ID],
    
    -- Cột Tên đối tượng: Lấy tên từ bảng tương ứng dựa trên mã
    COALESCE(KH.TenKH, H.TenHLV, NV.TenNV) AS [Tên],
    
    -- Cột Đối tượng: Hiển thị loại người (Khách, HLV hoặc NV)
    CASE 
        WHEN DD.MaKH IS NOT NULL THEN N'Khách hàng'
        WHEN DD.MaHLV IS NOT NULL THEN N'Huấn luyện viên'
        WHEN DD.MaNV IS NOT NULL THEN N'Nhân viên'
    END AS [Đối Tượng],
    
    FORMAT(DD.ThoiGianVao, 'dd/MM/yyyy HH:mm') AS [Thời Gian Vào],
    
    -- Nếu chưa ra thì hiện "Đang ở phòng tập"
    ISNULL(FORMAT(DD.ThoiGianRa, 'dd/MM/yyyy HH:mm'), N'--- Đang ở phòng tập ---') AS [Thời Gian Ra],
    
    DD.GhiChu AS [Ghi Chú]

FROM DIEMDANH DD
-- Liên kết với các bảng liên quan để lấy tên
LEFT JOIN KHACHHANG KH ON DD.MaKH = KH.MaKH
LEFT JOIN HLV H ON DD.MaHLV = H.MaHLV
LEFT JOIN NHANVIEN NV ON DD.MaNV = NV.MaNV

WHERE DD.DaXoa = 0 -- Chỉ xem dữ liệu chưa xóa
--ORDER BY DD.ThoiGianVao DESC; -- Người mới vào hiện lên đầu

GO
/****** Object:  Table [dbo].[CHITIET_HOADON]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADON](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MaDK] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaGoi] [int] NOT NULL,
	[MaHLV] [int] NULL,
	[NgayDangKy] [date] NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOITAP]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOITAP](
	[MaGoi] [int] IDENTITY(1,1) NOT NULL,
	[TenGoi] [nvarchar](100) NOT NULL,
	[ThoiHan] [int] NOT NULL,
	[Gia] [decimal](10, 2) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MaKV] [int] IDENTITY(1,1) NOT NULL,
	[TenKV] [nvarchar](50) NOT NULL,
	[Tang] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTAP]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTAP](
	[MaLich] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaHLV] [int] NOT NULL,
	[NgayTap] [date] NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[NoiDung] [nvarchar](500) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[LoaiSP] [nvarchar](50) NULL,
	[GiaNhap] [money] NULL,
	[GiaBan] [money] NULL,
	[SoLuongTon] [int] NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaDK] [int] NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[SoTien] [decimal](10, 2) NOT NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[TenTB] [nvarchar](100) NOT NULL,
	[LoaiTB] [nvarchar](50) NULL,
	[MaKV] [int] NOT NULL,
	[NgayMua] [date] NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[NgaySua] [datetime] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIET_HOADON] ON 

INSERT [dbo].[CHITIET_HOADON] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 2, 2, CAST(16000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIET_HOADON] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (2, 1, 1, 1, CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIET_HOADON] ([MaCTHD], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (3, 2, 5, 1, CAST(180000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CHITIET_HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[DANGKY] ON 

INSERT [dbo].[DANGKY] ([MaDK], [MaKH], [MaGoi], [MaHLV], [NgayDangKy], [NgayBatDau], [NgayKetThuc], [NgaySua], [DaXoa]) VALUES (1, 15, 2, 2, CAST(N'2026-04-16' AS Date), CAST(N'2026-04-10' AS Date), CAST(N'2026-08-13' AS Date), CAST(N'2026-04-16T21:57:39.873' AS DateTime), 0)
INSERT [dbo].[DANGKY] ([MaDK], [MaKH], [MaGoi], [MaHLV], [NgayDangKy], [NgayBatDau], [NgayKetThuc], [NgaySua], [DaXoa]) VALUES (2, 3, 1, 2, CAST(N'2026-04-16' AS Date), CAST(N'2026-04-01' AS Date), CAST(N'2026-05-31' AS Date), CAST(N'2026-04-16T21:57:39.680' AS DateTime), 0)
INSERT [dbo].[DANGKY] ([MaDK], [MaKH], [MaGoi], [MaHLV], [NgayDangKy], [NgayBatDau], [NgayKetThuc], [NgaySua], [DaXoa]) VALUES (3, 28, 4, NULL, CAST(N'2026-04-16' AS Date), CAST(N'2026-04-25' AS Date), CAST(N'2027-04-25' AS Date), CAST(N'2026-04-16T21:57:39.963' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DANGKY] OFF
GO
SET IDENTITY_INSERT [dbo].[DIEMDANH] ON 

INSERT [dbo].[DIEMDANH] ([MaDD], [MaNV], [MaKH], [MaHLV], [ThoiGianVao], [ThoiGianRa], [GhiChu], [NgaySua], [DaXoa]) VALUES (1, 1, NULL, NULL, CAST(N'2026-04-14T05:30:00.000' AS DateTime), CAST(N'2026-04-14T13:30:00.000' AS DateTime), N'NV Lễ tân ca sáng - (Đã xác nhận hoàn thành ca)', CAST(N'2026-04-16T21:58:50.843' AS DateTime), 0)
INSERT [dbo].[DIEMDANH] ([MaDD], [MaNV], [MaKH], [MaHLV], [ThoiGianVao], [ThoiGianRa], [GhiChu], [NgaySua], [DaXoa]) VALUES (2, NULL, 1, NULL, CAST(N'2026-04-14T05:45:00.000' AS DateTime), CAST(N'2026-04-14T07:15:00.000' AS DateTime), N'Khách tập Cardio', CAST(N'2026-04-16T21:58:50.670' AS DateTime), 0)
INSERT [dbo].[DIEMDANH] ([MaDD], [MaNV], [MaKH], [MaHLV], [ThoiGianVao], [ThoiGianRa], [GhiChu], [NgaySua], [DaXoa]) VALUES (3, NULL, 2, NULL, CAST(N'2026-04-14T06:00:00.000' AS DateTime), CAST(N'2026-04-14T07:30:00.000' AS DateTime), N'Khách tập tự do', CAST(N'2026-04-16T21:58:50.670' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DIEMDANH] OFF
GO
SET IDENTITY_INSERT [dbo].[GOITAP] ON 

INSERT [dbo].[GOITAP] ([MaGoi], [TenGoi], [ThoiHan], [Gia], [MoTa], [NgaySua], [DaXoa]) VALUES (1, N'Gói 1 tháng', 60, CAST(800000.00 AS Decimal(10, 2)), N'Tập cơ bản, không giới hạn thời gian trong ngày', CAST(N'2026-04-16T21:56:55.560' AS DateTime), 0)
INSERT [dbo].[GOITAP] ([MaGoi], [TenGoi], [ThoiHan], [Gia], [MoTa], [NgaySua], [DaXoa]) VALUES (2, N'Gói 3 tháng', 125, CAST(1600000.00 AS Decimal(10, 2)), N'Tiết kiệm chi phí, phù hợp người tập lâu dài', CAST(N'2026-04-16T21:56:55.560' AS DateTime), 0)
INSERT [dbo].[GOITAP] ([MaGoi], [TenGoi], [ThoiHan], [Gia], [MoTa], [NgaySua], [DaXoa]) VALUES (3, N'Gói 6 tháng', 180, CAST(2200000.00 AS Decimal(10, 2)), N'Tặng kèm 5 buổi hướng dẫn với HLV (Đã ngừng kinh doanh)', CAST(N'2026-04-16T21:56:55.603' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GOITAP] OFF
GO
SET IDENTITY_INSERT [dbo].[HLV] ON 

INSERT [dbo].[HLV] ([MaHLV], [TenHLV], [ChuyenMon], [SDT], [GioiTinh], [NgaySua], [DaXoa]) VALUES (1, N'Nguyễn Văn Hùng', N'Gym', N'0912345670', N'Nam', CAST(N'2026-04-16T21:57:01.773' AS DateTime), 0)
INSERT [dbo].[HLV] ([MaHLV], [TenHLV], [ChuyenMon], [SDT], [GioiTinh], [NgaySua], [DaXoa]) VALUES (2, N'Trần Thị Mai', N'Zumba', N'0987654320', N'Nữ', CAST(N'2026-04-16T21:57:02.013' AS DateTime), 1)
INSERT [dbo].[HLV] ([MaHLV], [TenHLV], [ChuyenMon], [SDT], [GioiTinh], [NgaySua], [DaXoa]) VALUES (3, N'Hoàng Minh Tuấn', N'Zumba', N'0911002233', N'Nam', CAST(N'2026-04-16T21:57:01.953' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[HLV] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayLap], [TongTien], [PhuongThuc], [GhiChu], [NgaySua], [DaXoa]) VALUES (1, 1, 1, CAST(N'2026-04-01T08:00:00.000' AS DateTime), CAST(37000.00 AS Decimal(18, 2)), N'Chuyển khoản', N'Khách đổi từ tiền mặt sang chuyển khoản', CAST(N'2026-04-16T22:05:03.087' AS DateTime), 0)
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayLap], [TongTien], [PhuongThuc], [GhiChu], [NgaySua], [DaXoa]) VALUES (2, 2, 5, CAST(N'2026-04-01T09:15:00.000' AS DateTime), CAST(300000.00 AS Decimal(18, 2)), N'Chuyển khoản', N'Phụ kiện tập gym', CAST(N'2026-04-16T22:05:02.993' AS DateTime), 0)
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaNV], [NgayLap], [TongTien], [PhuongThuc], [GhiChu], [NgaySua], [DaXoa]) VALUES (3, 5, 8, CAST(N'2026-04-02T10:00:00.000' AS DateTime), CAST(1550000.00 AS Decimal(18, 2)), N'Quẹt thẻ', N'Thực phẩm chức năng', CAST(N'2026-04-16T22:05:02.993' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [SDT], [Email], [NgaySua], [DaXoa]) VALUES (1, N'Nguyễn Văn Tuấn', N'Nam', CAST(N'2000-05-10' AS Date), N'0912345678', N'tuan.nguyen@gmail.com', CAST(N'2026-04-16T21:56:47.927' AS DateTime), 0)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [SDT], [Email], [NgaySua], [DaXoa]) VALUES (2, N'Trần Thị Lan', N'Nữ', CAST(N'2002-08-15' AS Date), N'0987654321', N'lan.tran@gmail.com', CAST(N'2026-04-16T21:56:47.927' AS DateTime), 0)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [SDT], [Email], [NgaySua], [DaXoa]) VALUES (3, N'Lê Minh Hoàng', N'Nam', CAST(N'2001-01-01' AS Date), N'0911002233', N'hoang.le@newmail.com', CAST(N'2026-04-16T21:56:48.120' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUVUC] ON 

INSERT [dbo].[KHUVUC] ([MaKV], [TenKV], [Tang], [GhiChu], [NgaySua], [DaXoa]) VALUES (1, N'Khu Cardio & HIIT', 1, N'Khu vực tập trung các dòng máy đốt calo cao', CAST(N'2026-04-16T21:56:41.650' AS DateTime), 0)
INSERT [dbo].[KHUVUC] ([MaKV], [TenKV], [Tang], [GhiChu], [NgaySua], [DaXoa]) VALUES (2, N'Khu Tạ Nặng', 1, N'Free weights, sàn cao su chống rung', CAST(N'2026-04-16T21:56:41.237' AS DateTime), 0)
INSERT [dbo].[KHUVUC] ([MaKV], [TenKV], [Tang], [GhiChu], [NgaySua], [DaXoa]) VALUES (3, N'Khu Cơ Ngực', 1, N'Dãy máy khối Selectorized', CAST(N'2026-04-16T21:56:41.237' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[KHUVUC] OFF
GO
SET IDENTITY_INSERT [dbo].[LICHTAP] ON 

INSERT [dbo].[LICHTAP] ([MaLich], [MaKH], [MaHLV], [NgayTap], [GioBatDau], [GioKetThuc], [NoiDung], [NgaySua], [DaXoa]) VALUES (1, 24, 26, CAST(N'2026-04-19' AS Date), CAST(N'20:00:00' AS Time), CAST(N'21:00:00' AS Time), N'Tập chân - mông ', CAST(N'2026-04-16T21:58:40.783' AS DateTime), 0)
INSERT [dbo].[LICHTAP] ([MaLich], [MaKH], [MaHLV], [NgayTap], [GioBatDau], [GioKetThuc], [NoiDung], [NgaySua], [DaXoa]) VALUES (2, 11, 3, CAST(N'2026-04-17' AS Date), CAST(N'06:30:00' AS Time), CAST(N'08:00:00' AS Time), N'Gym - Cơ bắp tay', CAST(N'2026-04-16T21:58:40.657' AS DateTime), 0)
INSERT [dbo].[LICHTAP] ([MaLich], [MaKH], [MaHLV], [NgayTap], [GioBatDau], [GioKetThuc], [NoiDung], [NgaySua], [DaXoa]) VALUES (3, 12, 11, CAST(N'2026-04-21' AS Date), CAST(N'18:30:00' AS Time), CAST(N'20:00:00' AS Time), N'Aerobics - Đốt calo cường độ cao', CAST(N'2026-04-16T21:58:40.657' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[LICHTAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [ChucVu], [GioiTinh], [NgaySinh], [SDT], [LuongCoBan], [NgayVaoLam], [NgaySua], [DaXoa]) VALUES (1, N'Lê Thị Hồng', N'Lễ tân', N'Nữ', CAST(N'2002-05-20' AS Date), N'0912001122', CAST(7000000.00 AS Decimal(18, 2)), CAST(N'2025-01-10' AS Date), CAST(N'2026-04-16T21:57:10.810' AS DateTime), 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [ChucVu], [GioiTinh], [NgaySinh], [SDT], [LuongCoBan], [NgayVaoLam], [NgaySua], [DaXoa]) VALUES (2, N'Nguyễn Thành Nam', N'Quản lý', N'Nam', CAST(N'1995-11-15' AS Date), N'0988112233', CAST(16000000.00 AS Decimal(18, 2)), CAST(N'2024-06-01' AS Date), CAST(N'2026-04-16T21:57:10.947' AS DateTime), 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [ChucVu], [GioiTinh], [NgaySinh], [SDT], [LuongCoBan], [NgayVaoLam], [NgaySua], [DaXoa]) VALUES (3, N'Phạm Văn Bình', N'Bảo vệ', N'Nam', CAST(N'1988-03-12' AS Date), N'0905334455', CAST(6500000.00 AS Decimal(18, 2)), CAST(N'2025-02-15' AS Date), CAST(N'2026-04-16T21:57:10.810' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [LoaiSP], [GiaNhap], [GiaBan], [SoLuongTon], [NgaySua], [DaXoa]) VALUES (1, N'Nước khoáng Lavie 500ml (Sắp hết hàng)', N'Nước uống', 5000.0000, 9000.0000, 0, CAST(N'2026-04-16T21:57:19.647' AS DateTime), 0)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [LoaiSP], [GiaNhap], [GiaBan], [SoLuongTon], [NgaySua], [DaXoa]) VALUES (2, N'Nước điện giải Revive', N'Nước uống', 8000.0000, 13500.0000, 50, CAST(N'2026-04-16T21:57:19.550' AS DateTime), 0)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [LoaiSP], [GiaNhap], [GiaBan], [SoLuongTon], [NgaySua], [DaXoa]) VALUES (3, N'Sữa Whey Protein Gold Standard', N'Thực phẩm chức năng', 1200000.0000, 1550000.0000, 10, CAST(N'2026-04-16T21:57:19.343' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[THANHTOAN] ON 

INSERT [dbo].[THANHTOAN] ([MaTT], [MaDK], [NgayThanhToan], [SoTien], [PhuongThuc], [TrangThai], [NgaySua], [DaXoa]) VALUES (1, 1, CAST(N'2026-04-01T08:30:00.000' AS DateTime), CAST(500000.00 AS Decimal(10, 2)), N'Tiền mặt', N'Đã thanh toán', CAST(N'2026-04-16T21:58:20.917' AS DateTime), 0)
INSERT [dbo].[THANHTOAN] ([MaTT], [MaDK], [NgayThanhToan], [SoTien], [PhuongThuc], [TrangThai], [NgaySua], [DaXoa]) VALUES (2, 2, CAST(N'2026-04-16T21:58:21.013' AS DateTime), CAST(5000000.00 AS Decimal(10, 2)), N'Chuyển khoản', N'Đã thanh toán', CAST(N'2026-04-16T21:58:21.013' AS DateTime), 0)
INSERT [dbo].[THANHTOAN] ([MaTT], [MaDK], [NgayThanhToan], [SoTien], [PhuongThuc], [TrangThai], [NgaySua], [DaXoa]) VALUES (3, 3, CAST(N'2026-04-16T21:58:20.917' AS DateTime), CAST(12000000.00 AS Decimal(10, 2)), N'Quẹt thẻ', N'Đã thanh toán', CAST(N'2026-04-16T21:58:20.917' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[THANHTOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[THIETBI] ON 

INSERT [dbo].[THIETBI] ([MaTB], [TenTB], [LoaiTB], [MaKV], [NgayMua], [GiaTri], [TinhTrang], [NgaySua], [DaXoa]) VALUES (1, N'Máy chạy bộ Matrix T70 - Ver 2', N'Cardio Cấp Cao', 1, CAST(N'2026-01-15' AS Date), CAST(48000000.00 AS Decimal(18, 2)), N'Sẵn sàng', CAST(N'2026-04-16T21:57:32.920' AS DateTime), 0)
INSERT [dbo].[THIETBI] ([MaTB], [TenTB], [LoaiTB], [MaKV], [NgayMua], [GiaTri], [TinhTrang], [NgaySua], [DaXoa]) VALUES (2, N'Máy tập đùi trong (Inner Thigh)', N'Strength', 2, CAST(N'2025-01-15' AS Date), CAST(24000000.00 AS Decimal(18, 2)), N'Sẵn sàng', CAST(N'2026-04-16T21:57:32.843' AS DateTime), 0)
INSERT [dbo].[THIETBI] ([MaTB], [TenTB], [LoaiTB], [MaKV], [NgayMua], [GiaTri], [TinhTrang], [NgaySua], [DaXoa]) VALUES (3, N'Giàn tạ kéo cáp đôi (Dual Adjustable Pulley)', N'Strength', 2, CAST(N'2025-12-20' AS Date), CAST(55000000.00 AS Decimal(18, 2)), N'Sẵn sàng', CAST(N'2026-04-16T21:57:32.843' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[THIETBI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDT_HLV]    Script Date: 4/16/2026 10:06:27 PM ******/
ALTER TABLE [dbo].[HLV] ADD  CONSTRAINT [UQ_SDT_HLV] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Email_KH]    Script Date: 4/16/2026 10:06:27 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_Email_KH] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDT_KH]    Script Date: 4/16/2026 10:06:27 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ_SDT_KH] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDT_NV]    Script Date: 4/16/2026 10:06:27 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ_SDT_NV] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANGKY] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DANGKY] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[DANGKY] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[DIEMDANH] ADD  DEFAULT (getdate()) FOR [ThoiGianVao]
GO
ALTER TABLE [dbo].[DIEMDANH] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[DIEMDANH] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[GOITAP] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[GOITAP] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[HLV] ADD  CONSTRAINT [DF_ChuyenMon]  DEFAULT (N'Fitness Trainer') FOR [ChuyenMon]
GO
ALTER TABLE [dbo].[HLV] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[HLV] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Tiền mặt') FOR [PhuongThuc]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[KHUVUC] ADD  DEFAULT ((1)) FOR [Tang]
GO
ALTER TABLE [dbo].[KHUVUC] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[KHUVUC] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[LICHTAP] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[LICHTAP] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [GiaNhap]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT (N'Chờ thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[THANHTOAN] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[THIETBI] ADD  DEFAULT (getdate()) FOR [NgayMua]
GO
ALTER TABLE [dbo].[THIETBI] ADD  DEFAULT (N'Sẵn sàng') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[THIETBI] ADD  DEFAULT (getdate()) FOR [NgaySua]
GO
ALTER TABLE [dbo].[THIETBI] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_SANPHAM]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_GOITAP] FOREIGN KEY([MaGoi])
REFERENCES [dbo].[GOITAP] ([MaGoi])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_GOITAP]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_HLV] FOREIGN KEY([MaHLV])
REFERENCES [dbo].[HLV] ([MaHLV])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_HLV]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_KHACHHANG]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDANH_HLV] FOREIGN KEY([MaHLV])
REFERENCES [dbo].[HLV] ([MaHLV])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DIEMDANH_HLV]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDANH_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DIEMDANH_KHACHHANG]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDANH_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DIEMDANH_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[LICHTAP]  WITH CHECK ADD  CONSTRAINT [FK_LICHTAP_HLV] FOREIGN KEY([MaHLV])
REFERENCES [dbo].[HLV] ([MaHLV])
GO
ALTER TABLE [dbo].[LICHTAP] CHECK CONSTRAINT [FK_LICHTAP_HLV]
GO
ALTER TABLE [dbo].[LICHTAP]  WITH CHECK ADD  CONSTRAINT [FK_LICHTAP_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[LICHTAP] CHECK CONSTRAINT [FK_LICHTAP_KHACHHANG]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHTOAN_DANGKY] FOREIGN KEY([MaDK])
REFERENCES [dbo].[DANGKY] ([MaDK])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_THANHTOAN_DANGKY]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_KHUVUC] FOREIGN KEY([MaKV])
REFERENCES [dbo].[KHUVUC] ([MaKV])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_KHUVUC]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_ThoiHan_DK] CHECK  (([NgayKetThuc]>=[NgayBatDau]))
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [CK_ThoiHan_DK]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [CK_DoiTuong_Check] CHECK  ((((case when [MaNV] IS NOT NULL then (1) else (0) end+case when [MaKH] IS NOT NULL then (1) else (0) end)+case when [MaHLV] IS NOT NULL then (1) else (0) end)=(1)))
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [CK_DoiTuong_Check]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [CK_ThoiGian_HopLe] CHECK  (([ThoiGianRa] IS NULL OR [ThoiGianRa]>=[ThoiGianVao]))
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [CK_ThoiGian_HopLe]
GO
ALTER TABLE [dbo].[GOITAP]  WITH CHECK ADD  CONSTRAINT [CK_GOITAP_Gia] CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[GOITAP] CHECK CONSTRAINT [CK_GOITAP_Gia]
GO
ALTER TABLE [dbo].[GOITAP]  WITH CHECK ADD  CONSTRAINT [CK_GOITAP_ThoiHan] CHECK  (([ThoiHan]>(0)))
GO
ALTER TABLE [dbo].[GOITAP] CHECK CONSTRAINT [CK_GOITAP_ThoiHan]
GO
ALTER TABLE [dbo].[HLV]  WITH CHECK ADD  CONSTRAINT [CK_GioiTinh_HLV] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[HLV] CHECK CONSTRAINT [CK_GioiTinh_HLV]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_Tuoi_KH] CHECK  ((datediff(year,[NgaySinh],getdate())>=(15)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_Tuoi_KH]
GO
ALTER TABLE [dbo].[LICHTAP]  WITH CHECK ADD  CONSTRAINT [CK_GioTap] CHECK  (([GioKetThuc]>[GioBatDau]))
GO
ALTER TABLE [dbo].[LICHTAP] CHECK CONSTRAINT [CK_GioTap]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([LuongCoBan]>=(0)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GioiTinh_NV] CHECK  (([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GioiTinh_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_SDT_Format] CHECK  ((len([SDT])>=(10) AND len([SDT])<=(11) AND NOT [SDT] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_SDT_Format]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_GiaBan] CHECK  (([GiaBan]>=[GiaNhap]))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_GiaBan]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_GiaNhap] CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_GiaNhap]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_SoLuong] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_SoLuong]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [CK_TongTien] CHECK  (([SoTien]>=(0)))
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [CK_TongTien]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD CHECK  (([GiaTri]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaHoaDon]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SuaHoaDon]
    @MaHD INT, @GhiChu NVARCHAR(200), @DaXoa BIT
AS
BEGIN
    UPDATE HOADON SET GhiChu = @GhiChu, DaXoa = @DaXoa, NgaySua = GETDATE() WHERE MaHD = @MaHD;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemChiTietHoaDon_AnToan]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThemChiTietHoaDon_AnToan]
    @MaHD INT,
    @MaSP INT,
    @SoLuongMua INT,
    @DonGia MONEY
AS
BEGIN
    DECLARE @TonKho INT;
    
    -- Lấy số lượng tồn hiện tại
    SELECT @TonKho = SoLuongTon FROM SANPHAM WHERE MaSP = @MaSP;

    -- Kiểm tra nếu đủ hàng thì mới Insert
    IF @TonKho >= @SoLuongMua
    BEGIN
        INSERT INTO CHITIET_HOADON (MaHD, MaSP, SoLuong, DonGia)
        VALUES (@MaHD, @MaSP, @SoLuongMua, @DonGia);
        
        PRINT N'Thêm sản phẩm ' + CAST(@MaSP AS VARCHAR) + N' thành công.';
    END
    ELSE
    BEGIN
        -- Nếu hết hàng, chỉ in thông báo chứ không làm sập Script
        PRINT N'CẢNH BÁO: Sản phẩm ' + CAST(@MaSP AS VARCHAR) + N' đã hết hàng. Bỏ qua dòng này.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemHoaDon]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--========================================--
-- 3. CÁC THỦ TỤC (PROCEDURES)            --
--========================================--
CREATE PROCEDURE [dbo].[sp_ThemHoaDon]
    @MaKH INT, @MaTT INT = NULL, @GhiChu NVARCHAR(200)
AS
BEGIN
    INSERT INTO HOADON (MaKH, MaTT, GhiChu) VALUES (@MaKH, @MaTT, @GhiChu);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaHoaDon]    Script Date: 4/16/2026 10:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_XoaHoaDon]
    @MaHD INT
AS
BEGIN
    DELETE FROM CHITIET_HOADON WHERE MaHD = @MaHD;
    DELETE FROM HOADON WHERE MaHD = @MaHD;
END;
GO
USE [master]
GO
